mixin footwearCard(footwear)
    a(href='/shop/' + footwear._id)
        .view.view-fifth
            .top_box
                h3.m_1=footwear.title
                p.m_2=footwear.type
                .grid_img
                    .css3
                        .img(style='background-image: url(' + footwear.imageUrl + ');')
                    .mask
                        .info Quick View
                .price=footwear.price + '$'