header
    .header-top
        .wrap
            .logo
                a(href='/')
                    img(src='/images/logo.png', alt='')
            .cssmenu
                ul
                    li
                        a(href='/brands') Brands
                    li.active
                        a(href='/suppliers') Reliable Suppliers
            .clear
    .header-bottom
        .wrap
            // start header menu
            ul.megamenu.skyblue
                li
                    a.color1(href='/') Home
                li.grid
                    a.color2(href='/shop?gender=men') Men
                li.active.grid
                    a.color4(href='/shop?gender=men') Women
                li
                    a.color5(href='/shop?gender=kids') Kids
            .clear