extends layout

append scripts
  script(src='/js/mainPage.js')

block content
  .index-banner
    .wmuSlider.example1(style='height: 560px;')
      .wmuSliderWrapper
        each slide in bannerShoes
          article(style='position: relative; width: 100%; opacity: 1;')
            .banner-wrap
              .slider-left
                .img(style='background-image: url(' + slide.imageUrl + ');' +
                'height: 440px; background-repeat: no-repeat;' +
                'background-size: contain;' +
                'background-position: center;')
              .slider-right
                h1=slide.title
                h2=slide.brand.name
                p=slide.description
                .btn
                  a(href='/shop/' + slide._id) Shop Now
              .clear
        a.wmuSliderPrev Previous
        a.wmuSliderNext Next
        ul.wmuSliderPagination
          li
            a.wmuActive 0
          li
            a 1
          li
            a 2
          li
  include ../partials/footwearCard
  p.index-page-separator Last updates
  .box1
    each footwear in lastAddeFootwear
      .col_1_of_3.span_1_of_3
        +footwearCard(footwear)