doctype html
html
  head
    title= title
    block links
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800')
      link(rel='stylesheet', href='/stylesheets/megamenu.css')
    block scripts
      script(src='/js/jquery.min.js')
      script(src='/js/megamenu.js')
      script(src='/js/jquery.wmuSlider.js')
  body
    include ../partials/header
    .main-content
      block content
    block footer
      .footer
        .footer-top
          .wrap
            .col_1_of_footer-top.span_1_of_footer-top
              ul.f_list
                li
                  img(src='images/f_icon.png', alt='')
                  span.delivery Free delivery on all orders over £100*
            .col_1_of_footer-top.span_1_of_footer-top
              ul.f_list
                li
                  img(src='images/f_icon1.png', alt='')
                  span.delivery
                    | Customer Service :
                    span.orange  (800) 000-2587 (freephone)
            .col_1_of_footer-top.span_1_of_footer-top
              ul.f_list
                li
                  img(src='images/f_icon2.png', alt='')
                  span.delivery Fast delivery & free returns
            .clear
        .copy
          .wrap
            p © All rights reserved 2019