extends layout

append links
    link(rel="stylesheet", href='/css/etalage.css')
append scripts
    script(src='/js/jquery.jscrollpane.min.js')
    script(src='/js/jquery.etalage.min.js')
    script(src='/js/jquery.flexisel.js')
    script(src='/js/productDetails.js')
block content
    .single
        .wrap
            .labout.span_1_of_a1
                // start product_slider
                ul#etalage
                    each detailImage in footwear.detailImages
                        li
                            img.etalage_thumb_image(src=detailImage)
                            img.etalage_source_image(src=detailImage)
                // end product_slider
            .cont1.span_2_of_a1
                h3.m_3=footwear.title
                a(href='/shop?type=' + footwear.type).subtype=footwear.type
                .price_single
                    span.actual=footwear.price + '$'
                ul.options
                    h4.m_9 Sizes
                    each size in footwear.size
                        li
                            a=size
                    .clear
                p.m_desc=footwear.description
            .clear
            if recommendedProducts.length
                h3.m_3 Other models of this brand
                ul#flexiselDemo3
                    each recommendedProduct in recommendedProducts
                        li
                            a(href='/shop/' + recommendedProduct._id)
                                img(src=recommendedProduct.imageUrl)
                                .grid-flex
                                    a(href='/shop/' + recommendedProduct._id)=recommendedProduct.title
                                    p=recommendedProduct.type
            .clear